
body{
	font-family: 'Montserrat',sans-serif;
	background: #FFF;
	font-style: normal;
	font-weight: 500;
	font-size: 64px;
	line-height: 78px;
	text-align: left;
	color: #A4BEEE;
}

p{
	font-family:"Arial",sans-serif;
	background: #FFF;
	font-style: normal;
	font-weight: 500;
	font-size: 64px;
	line-height: 78px;
	text-align: left;
	color: #A4BEEE;
}
button:hover {
	background:#969ac4;
}
	
h1{
font-family: 'Montserrat',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 78px;
text-align: center;
color: #A4BEEE;
}

.menu,a, {
	font-family:'Montserrat',sans-serif;
	font-weight:300;
	font-size:12px;
	color: #658ac2;
	text-decoration:none;

}

header {
	justify-content:space-between;
	align-items:center;
	padding: 30px 10%;
}

.menu{
	
	list-style:none;
	
}
.menu li{
	float:left;
	display:inline;
	padding: 0 20px;
}
}
.menu a:hover:before, .menu a:focus:before, .menu a:active:before {
  left: 0;
  right: 0;
  color:#b4a4d4;
}
button{
	color:#fff;
	padding: 9px 25px;
	background:#a4beee;
	border:none;
	border-radius:90px;
	cursor:pointer;
	transition:all.3s ease;
}

#home{
	display:inline;

}
.card {
	background-color: #a4beee;
    color: white;
    margin: 20px;
    padding: 20px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: 75px;
	
}
.card h3{
	text-align:center;
	color:#FFF;
	background:#a4beee;
}
.card p{
	margin:40px;
	padding:40px;
	text-align:left;
	color:#FFF;
	background:#a4beee;
	
}




